.footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color : #3c3c3c;
  color: #fff;
  padding: 0 40px;
  z-index: 1000;
}

.column1{
  text-align: left;
}

.column2{
  text-align: right;
}