.container{
  margin: 0 auto;
  padding: 0;
}

.searchBox{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.searchBox p{
  padding-left: 10px;
  padding-right: 15px;
  font-size: 15px;
}

.where{
  height: 50px;
  width: 240px;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(226, 226, 226);
}

.searchBtn{
  height: 50px;
  width: 100px;
  background-color: #3c3c3c;
  padding: 0;
  margin: 0;
  outline: none;
}

.searchBtn:hover{
  background-color: orange;
}